<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Akronim&display=swap" rel="stylesheet">

<div class="loginbody">
    <div class="bodyImage">
        <img class="imgBody" src="../../assets/image/bgpic1.jpg" >
    </div>
    <div class="center">
      <h1 class="loginheader">Login</h1>
        <form method="post">
            <div class="txtField">
                <input type="text" required>
                <span></span>
                <label>Username</label>
            </div>
            <div class="txtField">
                <input type="password" required>
                <span></span>
                <label>Password</label>
            </div>
            <div class="pass">Forgot Password?</div>
                <button type="submit" class="btn btn-primary">Login</button>
                
            <div class="signup_link">
                Not a member? <a href="#">Signup</a>
            </div>
        </form>
    </div>
</div>

